In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [2]:
url = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD"
response = requests.get(url)

data = response.json()
df = pd.DataFrame(data["data"])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10868 non-null  object
 1   1       10868 non-null  object
 2   2       10868 non-null  int64
 3   3       10868 non-null  int64
 4   4       0 non-null      object
 5   5       10868 non-null  int64
 6   6       0 non-null      object
 7   7       10868 non-null  object
 8   8       10868 non-null  object
 9   9       10868 non-null  object
 10  10      10868 non-null  object
 11  11      10868 non-null  object
 12  12      10868 non-null  object
 13  13      10868 non-null  object
dtypes: int64(3), object(11)
memory usage: 1.2+ MB

In [4]:
column_names = [column["name"] for column in data["meta"]["view"]["columns"]]
df.columns = column_names

In [5]:
column_names

['sid',
 'id',
 'position',
 'created_at',
 'created_meta',
 'updated_at',
 'updated_meta',
 'meta',
 'Year',
 '113 Cause Name',
 'Cause Name',
 'State',
 'Deaths',
 'Age-adjusted Death Rate']

In [6]:
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,row-4ziw_fype-q93g,00000000-0000-0000-84F0-BE0C2CBEC77B,0,1571926784,None,1571926784,None,{ },2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,row-mf82_5qce.78c2,00000000-0000-0000-F702-31C8D4A1E5BE,0,1571926784,None,1571926784,None,{ },2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,row-7frh~9yb6-q2q4,00000000-0000-0000-6FE5-1E0821A4276B,0,1571926784,None,1571926784,None,{ },2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,row-urf6.ayyb~8p5q,00000000-0000-0000-26D0-367B1AF824D1,0,1571926784,None,1571926784,None,{ },2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,row-74k2-qi6f~77p7,00000000-0000-0000-C87C-FAD80FEC2E12,0,1571926784,None,1571926784,None,{ },2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [7]:
#10,867 in total for this data set
df.tail()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
10863,row-7enu.6eha-mdy5,00000000-0000-0000-B22B-1A611B3B2607,0,1571926784,None,1571926784,None,{ },1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,1035,16.9
10864,row-rw3z.z8dd.dcym,00000000-0000-0000-B7DF-BAF4B88F0B46,0,1571926784,None,1571926784,None,{ },1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,row-nfft~g53m-yyzs,00000000-0000-0000-6F71-5AA903783757,0,1571926784,None,1571926784,None,{ },1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,row-efex~8dph_yfqq,00000000-0000-0000-C1E4-A0960793377C,0,1571926784,None,1571926784,None,{ },1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,row-i44c_qgkr~mw6s,00000000-0000-0000-BDB1-F52E068CBDAF,0,1571926784,None,1571926784,None,{ },1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

In [8]:
#dropped coloumns
df.drop(["created_meta", "meta", "updated_meta"], axis=1 , inplace=True)
df.head()

,sid,id,position,created_at,updated_at,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,row-4ziw_fype-q93g,00000000-0000-0000-84F0-BE0C2CBEC77B,0,1571926784,1571926784,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,row-mf82_5qce.78c2,00000000-0000-0000-F702-31C8D4A1E5BE,0,1571926784,1571926784,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,row-7frh~9yb6-q2q4,00000000-0000-0000-6FE5-1E0821A4276B,0,1571926784,1571926784,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,row-urf6.ayyb~8p5q,00000000-0000-0000-26D0-367B1AF824D1,0,1571926784,1571926784,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,row-74k2-qi6f~77p7,00000000-0000-0000-C87C-FAD80FEC2E12,0,1571926784,1571926784,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8

In [9]:
#drop "All cause" in "Cause Name" since it is the total of everything combined
#df = df[df['Cause Name'] != 'All causes']

In [23]:
df['Deaths'] = df['Deaths'].astype(int)

# Filter data for United States
#US_data = df[df['State'] == 'United States']

# Group data by 'Cause Name' and sum the number of deaths
#cause_data = df[df['State']]['Deaths'].sum()
# cause_data = cause_data.sort_index(ascending = False)
cause_data = df.groupby('State')['Deaths'].sum()
sorted_data = cause_data.sort_values(ascending=False)

#cause_data = df.sort(['Deaths'])df.groupby('State')['Deaths'].sum()

#cause_data.sort_values(['Deaths'], ascending=False)
sorted_data

State
United States           84009152
California               8169513
Florida                  5868231
Texas                    5535028
New York                 5161056
Pennsylvania             4304492
Ohio                     3716207
Illinois                 3489953
Michigan                 3011369
North Carolina           2608123
New Jersey               2397044
Georgia                  2326265
Tennessee                2012251
Virginia                 1989346
Indiana                  1934641
Missouri                 1905549
Massachusetts            1812189
Washington               1635078
Wisconsin                1607291
Alabama                  1603535
Arizona                  1572443
Maryland                 1469677
Kentucky                 1423885
Louisiana                1409567
South Carolina           1364864
Minnesota                1288025
Oklahoma                 1243157
Oregon                   1064013
Colorado                 1039435
Mississippi               992097
Arkansas                  987455
Connecticut               981027
Iowa                      954486
Kansas                    831840
West Virginia             721988
Nevada                    652604
New Mexico                521279
Nebraska                  513032
Utah                      472567
Maine                     433412
Idaho                     375595
New Hampshire             353884
Rhode Island              327640
Hawaii                    320652
Montana                   294784
Delaware                  255015
South Dakota              244178
North Dakota              202091
Vermont                   179348
District of Columbia      168907
Wyoming                   145154
Alaska                    117890
Name: Deaths, dtype: int64

In [ ]:
# Convert 'Deaths' column to integers
df['Deaths'] = df['Deaths'].astype(int)

# Filter data for United States
US_data = df[df['State'] == 'United States']

# Group data by 'Cause Name' and sum the number of deaths
cause_data = US_data.groupby('Cause Name')['Deaths'].sum()

# Create a pie chart
plt.figure(figsize=(10, 8))
plt.pie(cause_data, labels=cause_data.index, autopct='%1.1f%%', startangle=140)
plt.title('Causes of Death in the United States')
plt.axis('equal') 

plt.savefig("Causes of Death in the United States")
plt.show()

In [ ]:
#total deaths for all of United States with "All cause" still included

# US_data = df.groupby(['State', 'Cause Name'])['Deaths'].sum().reset_index()
# US_data.set_index('Cause Name', inplace = True)

# US_data = US_data[US_data['State']=="United States"]
# US_data['Deaths'].plot(kind = "pie")
# plt.title("Causes of Death in the United States")
# plt.show()

In [ ]:
# Group data by state and cause name, and sum the number of deaths
df['Deaths'] = df['Deaths'].astype(int)
grouped_data = df.groupby(['State', 'Cause Name'])['Deaths'].sum().reset_index()
grouped_data = grouped_data[grouped_data['State']!="United States"]
# Pivot the data for better visualization
pivot_data = grouped_data.pivot(index='State', columns='Cause Name', values='Deaths').fillna(0)
# pivot_data.drop(['All causes'], axis=1, inplace=True)
# Creating the bar chart for Deaths per State and Cause Name
pivot_data.plot(kind='bar', stacked=True, figsize=(15, 8))
plt.title('Cause of Deaths per State')
plt.xlabel('State')
plt.ylabel('Number of Deaths')

plt.savefig("Causes of Death per State")
plt.show()

In [ ]:
# Group data by state and 113 cause name, and sum the number of deaths
df['Deaths'] = df['Deaths'].astype(int)
grouped_data = df.groupby(['State', '113 Cause Name'])['Deaths'].sum().reset_index()
grouped_data = grouped_data[grouped_data['State']!="United States"]
#grouped_data = grouped_data.sort_values(by = ['Deaths'],ascending = False)

# Pivot the data for better visualization
pivot_data = grouped_data.pivot(index='State', columns='113 Cause Name', values='Deaths').fillna(0)

# Creating the bar chart for Deaths per State and 113 Cause Name
pivot_data.plot(kind='bar', stacked=True, figsize=(15, 8))
plt.title('Deaths per State and Cause Name')
plt.xlabel('State')
plt.ylabel('Number of Deaths')
plt.show()

In [ ]:
# Convert 'deaths' column to integers
df['Deaths'] = df['Deaths'].astype(int)

# Group data by year and cause name, and sum the number of deaths
grouped_data = df.groupby(['Year', 'Cause Name'])['Deaths'].sum().reset_index()

# Create a line chart for trend over time
plt.figure(figsize=(12, 6))
for cause, group in grouped_data.groupby('Cause Name'):
    plt.plot(group['Year'], group['Deaths'], label=cause)

plt.xlabel('Year')
plt.ylabel('Number of Deaths')
plt.title('Causes of Death Over Time')
plt.legend()
plt.grid(True)
plt.tight_layout()

plt.savefig("Causes of Death Over Time")
plt.show()

In [ ]:
# #total deaths over the years
grouped_data = df.groupby(['Year'])['Deaths'].sum().reset_index()

# Create a line chart for trend over time
plt.figure(figsize=(12, 6))

plt.plot(grouped_data['Year'], grouped_data['Deaths'], label='Total Deaths', color='blue')

plt.xlabel('Year')
plt.ylabel('Number of Deaths')
plt.title('Total Deaths Over Time')
plt.legend()
plt.grid(True)
plt.tight_layout()

plt.savefig("Total Deaths Over Time")
plt.show()

In [ ]:
# Group data by state and cause name, and sum the number of deaths
grouped_data = df.groupby(['State', 'Cause Name'])['Deaths'].sum().reset_index()
grouped_data = grouped_data[grouped_data['State']!="United States"]

# Create a bar chart
fig, ax = plt.subplots(figsize=(15, 8))

# Iterate through each state and create a bar for each cause name
for state, group in grouped_data.groupby('State'):
    causes = group['Cause Name']
    deaths = group['Deaths']
    ax.bar(causes, deaths, label=state)

# Set labels and title
ax.set_xlabel('Cause of Death')
ax.set_ylabel('Number of Deaths')
ax.set_title('Cause of Death per State')
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha="right")

# Add legend
ax.legend(title='State')

# Show the chart
plt.show()

In [ ]:
#Creating the scatter plot for Deaths per State and Cause Name
for cause_name, group in grouped_data.groupby('Cause Name'):
    plt.scatter(group['State'], group['Deaths'], label= cause_name)

# Add labels and title
plt.xlabel('State')
plt.ylabel('Number of Deaths')
plt.title('Cause of Death per State')
plt.xticks(rotation=90)
plt.rcParams['figure.figsize']= (18,12)
plt.legend()

# Show the plot
plt.savefig("Cause of Death per State")
plt.show()

In [ ]:
df.to_csv("data.csv", index=False)

In [ ]:
import pandas as pd
import requests

# Fetch the JSON data from the CDC URL
url = "https://data.cdc.gov/api/views/bi63-dtpu/rows.json?accessType=DOWNLOAD"
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data['data'])
else:
    print("Failed to fetch JSON data from the URL.")

# Specify the column names (found in the 'meta' section of the JSON data)
column_names = [column['name'] for column in data['meta']['view']['columns']]
df.columns = column_names

# Save DataFrame to a CSV file
df.to_csv('cdc_data.csv', index=False)